<html>
  <head>
    <title>Nikola Tesla Bio</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body class='aboutBody'>
    <h1>Nikola Tesla</h1>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d4/N.Tesla.JPG/220px-N.Tesla.JPG" alt="Tesla Portarit">
    <p>Nikola Tesla  (10 July 1856 – 7 January 1943) was a Serbian-American inventor, electrical engineer, mechanical engineer, and futurist who is best known for his contributions to the design of the modern alternating current (AC) electricity supply system.</p>
    Nikola Tesla was a Serbian-American engineer and inventor who is highly regarded in energy history for his development of alternating current (AC) electrical systems. He also made extraordinary contributions in the fields of electromagnetism and wireless radio communications.


    <h2>Early Life and Education:</h2>
    <p>Nikola Tesla was born in the Croatian town of Smiljan (Austrian Empire) on 10 July in 1856 to a priest father. He studied electrical engineering at the Austrian Polytechnic in Graz and later attended the Charles-Ferdinand University in Prague. Unfortunately his father died early, and he had to leave the university after completing only one term.</p>
    <p>Tesla accepted a job under Tivadar Puskás in a Budapest telegraph company in 1880. He was later promoted to chief electrician and later engineer for the company. He later moved to Paris to work for the Continental Edison Company as an engineer.</p>

    <h2>Contributions and Achievements:</h2>
    <p>After moving to New York, United States, Tesla worked for Thomas Alva Edison, but the two did not get along well. He started working with George Westinghouse in 1885. There, he devised an electrical distribution system that employed alternating current (AC).</p>
    <p>Tesla made public the first successful wireless energy transfer to power electronic devices in 1891.</p>
    <p>Probably Tesla’s most important contribution to energy history is the use of alternating current (AC). The Westinghouse Electric Company was the first to implement this technology by lighting the World Colombian Exposition in Chicago in 1893. It proved to be a more efficient and effective method compared to the direct current (DC) system of Edison, to transport electricity in a grid. The technology quickly became the basis for most modern electricity distribution systems. Besides the AC system, Tesla helped in the development of generators and turbine design. The earliest demonstration of fluorescent lighting was also his accomplishment.</p>
    
    <h2>Later Life and Death:</h2>
    <p>Nikola Tesla continued his research work on electricity generation and turbine design in his later life. Even at 81, he claimed to have completed a “dynamic theory of gravity” – something which was never published. He died in New York City of a heart thrombus on 7 January 1943. He was 86 years old.</p>
  </body>
</html>