<html>
  <head>
    <title>Nikola Tesla's works</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div>
      <h1>Nikola Tesla's Works</h1>
      <p>Nikola Tesla was a genius inventor who created some groundbreaking inventions. Tesla collaborated with many big names and companies in history. Because some of his ideas were considered far out there at the time, Tesla is often featured in science fiction television shows and movies. Tesla held 300 patents to his name when he died. here are some of his most famous inventions.</p>
    </div>
    <div>
      <h2>The Tesla Coil</h2>
      <img src="https://inteng-storage.s3.amazonaws.com/images/uploads/sizes/tesla_lab_color_1600x900-feature_resize_md.jpg" alt="Tesla Coil">
      <p>Chances are that you have already seen this invention. It is a tower (of any height) that uses coils to shoot lightning out into the air. The capacitors store and build up the energy to create a spark gap then shoot the energy into the air like lightning bolts. Tesla Coils can be found in museums and science centers as entertainment, they never took on much of a purpose beyond scientific testing.</p>
    </div>
    <div>
      <h2>The Radio Controlled Boat</h2>
      <img src="https://inteng-storage.s3.amazonaws.com/images/import/2015/09/Tesla_boat1.jpg" alt="Radio Controlled Boat">
      <p>The Tele automaton was the first radio controlled boat that was designed by Tesla. After being denied a patent because the patent office didn’t think it was feasible, he proved them wrong by demonstrating the boat at the Electrical Exhibition in 1898. It is considered the grandfather of the drone.</p>
    </div>
    <div>
      <h2>The Tesla Turbine</h2>
      <img src="https://inteng-storage.s3.amazonaws.com/images/import/2015/09/TeslaTurbineOriginal.png" alt="Tesla Turbine">
      <p>Tesla saw the rise of the piston engine in the automobile industry as a way to make a change in the world. He developed his own turbine style engine that used combustion to make disks rotate. The fuel efficiency of his engine was 60%, a big achievement considering our fuel efficiency level is about 42%.</p>
    </div>
    <div>
      <h2>The Induction Motor</h2>
      <img src="https://inteng-storage.s3.amazonaws.com/images/import/2015/09/1200px-Teslas_induction_motor.jpg" alt="Induction Motor">
      <p>Again, Tesla went head to head in creating an invention. This time Tesla won. Ferrari may have presented their induction engine first but Tesla had filed for his patents earlier. The motor uses electromagnets to spin. It is commonly used in vacuums, blow dryers, and power tools, even today.</p>
    </div>
    <div>
      <h2>The Alternating Current</h2>
      <img src="https://inteng-storage.s3.amazonaws.com/images/import/2015/09/Tesla_polyphase_AC_500hp_generator_at_1893_exposition.jpg" alt="Alternating Current">
      <p>Alternating Current is considered Tesla’s crowning achievement. While not the inventor of AC power he made it easy to use widespread. AC power allows for electricity to be sent over long distances much more efficiently. Westinghouse bought Tesla’s AC patents and used them to bid on the lighting of the Chicago World’s Fair. They won the contract and were able to provide power at around $150,000, which is less than it would have cost to provide power using direct current.</p>
    </div>
    
  </body>
</html>